<div class="align-left">
    <div class="light small normal">status: <span class="bright">{{status}}</span></div>
    <div class="light small normal">voice detected: <span class="bright">{{detected}}</span></div>
</div>
